:root {
    --navbar-height: 150px;
}

* {
    margin: 0;
    padding: 0;
    scrollbar-color: var(--light) var(--gray);
}
*::-webkit-scrollbar {
    background: var(--gray);
}
*::-webkit-scrollbar-thumb {
    background: var(--light);
}

input:focus,
button:focus {
    outline: none;
}
