@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
:root {
    --navbar-height: 150px;
}

* {
    font-family: "Roboto Mono", courier;
    margin: 0;
    padding: 0;
    border-radius: 0 !important;
    scrollbar-color: var(--light) var(--gray);
}
*::-webkit-scrollbar {
    background: var(--gray);
}
*::-webkit-scrollbar-thumb {
    background: var(--light);
}

input:focus,
button:focus {
    outline: none;
}
